<a href="https://colab.research.google.com/github/jweir136/MNIST-Fashion/blob/master/Untitled39.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [0]:
train = pd.read_csv("fashion-mnist_train.csv")

In [19]:
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0,0,0,0,0,0,0,5,0,...,0.0,0.0,0.0,30.0,43.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,1,2,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,3,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
dataX = train.drop(['label'], axis=1)
dataY = train['label']

In [0]:
n_inputs = dataX.shape[1]
n_outputs = len(dataY.unique())
n_hidden1 = 300
n_hidden2 = 100

In [0]:
X = tf.placeholder(tf.float32, shape=(None, n_inputs))
y = tf.placeholder(tf.int64, shape=(None))

In [0]:
with tf.name_scope("dnn"):
  hidden1 = tf.layers.dense(X, n_hidden1, tf.nn.relu)
  hidden2 = tf.layers.dense(hidden1, n_hidden2, tf.nn.relu)
  output = tf.layers.dense(hidden2, n_outputs)

In [0]:
with tf.name_scope("loss"):
  xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(labels=y, logits=output)
  loss = tf.reduce_mean(xentropy)

In [0]:
with tf.name_scope("train"):
  train_op = tf.train.GradientDescentOptimizer(0.001).minimize(loss)

In [0]:
init = tf.global_variables_initializer()

In [27]:
with tf.Session() as sess:
  init.run()
  
  trainX, testX, trainY, testY = train_test_split(dataX.values, dataY.values, test_size=.2)
  
  trainX = StandardScaler().fit_transform(trainX)
  testX = StandardScaler().fit_transform(testX)
  
  for i in range(1, 40):
    print(i)
    sess.run(train_op, feed_dict={X:trainX, y:trainY})
    
    train_loss, test_loss = loss.eval(feed_dict={X:trainX, y:trainY}), loss.eval(feed_dict={X:testX, y:testY})

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [28]:
train_loss, test_loss

(nan, nan)